@import url('./reset.css');

.wrapper,
.page {
  height: 100%;
}

.wrapper--white,
.wrapper--white .header {
  background: #fff;
}

.blind {
  position: absolute;
  opacity: 0;
}

::-webkit-scrollbar {
  display: none;
}

input {
  border-radius: 0;
}

input:not([type=checkbox]):not([type=radio]),
textarea {
  -webkit-appearance: none;
}

/*header*/
.header {
  height: 25px;
  margin: 0 15px;
  padding: 22px 0;
  position: relative;
}

.header__cnt {
  position: relative;
}

.heaer__logo {
  display: inline-block;
  position: absolute;
  left: 0;
}

.header__title {
  display: block;
  font-size: 17px;
  color: #a6a6a6;
  top: 4px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__tx {
  color: #008fd7;
  font-size: 17px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -5px;
}

.header__infos,
.header__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__info+.header__info {
  margin-left: 20px;
}

.header__info:last-child {
  margin-right: 23px;
}

.header__icon {
  display: inline-block;
  vertical-align: middle;
}

.header__icon-desc {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #a1a1a1;
}

.header__infos {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*main*/
.main-sec {
  padding: 0 15px;
  background-color: #c8c8c8;
  height: 100%;
}

.main-sec__list {
  padding: 15px 0;
}

.main-sec__list-item {
  margin: 22px 0;
}

.main-sec__list-item:first-child {
  margin-top: 0;
}

/* card block */
.card {
  display: block;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 8px 20px 0px;
  overflow: hidden;
  position: relative;
}

.card--single {
  height: 145px;
  position: relative;
  margin-top: 15px;
}

.card--single:first-child {
  margin-top: 0;
}

.card__desc {
  display: block;
  position: relative;
  font-size: 32px;
  line-height: 130%;
  font-weight: 800;
  margin: 30px 34px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.card__foot {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 34px;
  background: #e6e6e6;
}

.card__info-area {
  display: flex;
  align-items: center;
}

.card__info-area+.card__info-area {
  margin-left: 20px;
}

.card__responsive {
  display: block;
  width: 270px;
  height: 85px;
  overflow: hidden;
  word-break: break-all;
}

.card__icon-desc {
  margin-left: 4px;
  vertical-align: top;
  font-weight: medium;
}

.card__hr {
  display: block;
  text-align: center;
}

.card__hr img {
  display: inline-block;
}

/*detail 글 상세 페이지*/
.detail {
  padding: 0 18px;
}

.detail__desc {
  margin-top: 28px;
  padding-left: 12px;
}

.detail__tit {
  font-size: 14px;
  font-weight: 800;
  color: #a1a1a1;
}

.detail__txtarea {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 14px;
  margin: 8px 0 0;
  height: 15vh;
  box-shadow: none;
  border: none;
  line-height: 150%;
  padding-right: 12px;
  color: #9c9c9c;
}

.detail__btn {
  pointer-events: none;
  display: block;
  width: 100%;
  text-align: center;
  min-height: 60px;
  line-height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ebebeb;
  color: #c7c7c7;
  font-weight: bold;
  font-size: 22px;
  text-shadow: none;
  border-radius: 0;
  border: none;
  margin: 0;
}

.detail__btn:before {
  content: "선택해주세요";
}

.detail__btn.on {
  background: #32bbff;
  color: #fff;
  pointer-events: auto;
}

.detail__btn.on:before {
  content: "결과보기";
}

.detail .card label {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 8px;
}

.detail .card input:checked+label {
  box-sizing: border-box;
  background: #32bbff;
  box-shadow: inset 0 0 0 2px #008fd7;
  color: #fff;
}

.detail .card input:checked+label:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../img/VoteCount_Voted_sm@2x.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -2px;
  right: 5px;
}


/*결과페이지 result*/
.result__toptx {
  margin: 5px 0 40px;
  font-size: 140px;
  font-weight: 800;
  text-align: center;
}

.result__contwrap {
  padding: 0 25px;
  padding-bottom: 60px;
}

.result__cont {
  margin-top: 25px;
}

.result__area {
  display: flex;
  align-items: flex-start;
  color: #9c9c9c;
  margin-bottom: 30px;
  position: relative;
}

.result__area.hot .result__info,
.result__area.hot .result__infosub {
  color: #ff420b;
}

.result__area.hot .result__vsimg {
  display: inline-block;
}

.result__area .win {
  color: #000;
}

.result__area .win .result__footinfo {
  border-color: #000;
}

.result__vsimg {
  display: none;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.result__left-area,
.result__right-area {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result__left-area {
  padding-right: 16px;
}

.result__right-area {
  padding-left: 16px;
}

.result__infoarea {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  width: 100%;
}


.result__info {
  font-size: 28px;
  margin-top: 10px;
}

.result__infosub {
  font-size: 12px;
  margin-top: 2px;
}

.result__footinfo {
  font-size: 16px;
  border-top: 3px solid #9c9c9c;
  padding-top: 10px;
  margin-top: 10px;
  text-align: left;
  line-height: 22.4px;
  width: 100%;
  text-align: center;
}

.result__reply-area {
  font-size: 14px;
}

.result__reply {
  padding: 18px 0;
  position: relative;
}

.result__reply:before {
  display: block;
  content: '';
  height: 1px;
  background: #ebebeb;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 -25px;
}

.result__reply:last-child:after {
  display: block;
  content: '';
  height: 1px;
  background: #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 -25px;
}

.result__reply-tit {
  color: #b0b0b0;
}

.result__reply-cont {
  margin-top: 8px;
  color: #282828;
  line-height: 1.4;
  word-break: break-all;
}

.result__footbtn {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  font-weight: bold;
  background-color: #FFF70F;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
}

.result__badges {
  min-height: 24px;
}

.result__write-wrap {
  padding: 18px 12px;
  height: 51px;
  display: block;
  color: #a1a1a1;
  position: relative;
  margin: 0 -25px;
}

.result__write-contwrap {
  height: 100%;
  padding: 5px 30px 5px 14px;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #008fd7;
  box-sizing: border-box;
}

.result__write {
  display: block;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  resize: none;
  overflow: hidden;
}

.result__write-wrap .fa-pen {
  position: absolute;
  right: 27px;
  top: 50%;
  transform: translateY(-50%)
}

.result__write-wrap .fa-pen.on {
  color: #008fd7;
}

/*작성 페이지*/
.write__wrap {
  margin: 0 18px;
}

.write__inparea+.write__inparea {
  margin-top: 17px;
}

.write__inptit {
  margin-left: 13px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 9px;
}

.write__inpsubtit {
  margin-left: 5px;
  font-size: 14px;
  font-weight: normal;
}

.write__inpcnt {
  padding: 10px 13px;
  color: #282828;
  font-size: 16px;
  border: 1px solid #c8c8c8;
  display: block;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.write__inpcnt.focus {
  border: 2px solid #000;
  box-sizing: border-box;
  margin: -1px;
}

.write__txtarea {
  padding: 10px 13px;
  font-size: 16px;
  color: #282828;
  min-height: 40vh;
  max-height: 40vh;
  display: block;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.write__txtarea.focus {
  border: 2px solid #000;
  box-sizing: border-box;
  margin: -1px
}

.write__inparea input,
.write__inparea textarea {
  border-color: #a6a6a6
}

.write__footbtn {
  padding: 0;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 58px;
  font-size: 22px;
  font-weight: bold;
  background-color: #ebebeb;
  color: #c9c9c9;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  z-index: 999;
}

.write__footbtn.on {
  background-color: #32bbff;
  color: #fff;
}

.write__inparea.on .write__inpcnt,
.write__inparea.on .write__txtarea {
  border: 2px solid #008fd7;
  margin: -1px
}

.write__inparea.on .write__inptit {
  color: #008fd7;
}

/* floating action button */
.fab {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #008fd7;
  border-radius: 50px;
  color: #008fd7;
  background: #fff;
  font-size: 17px;
  font-weight: bold;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%)
}

.toast {
  display: none;
  position: fixed;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  min-width: fit-content;
}

.toast.on {
  display: table;
}