<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.mapper.commentMapper">

 	<insert id="insertComment" parameterType="commentDto">
 		/* com.quiz.mapper.commentMapper.insertComment */
		INSERT INTO COMMENT(WRITING_NO, DEPTH, PARENT, COMMENT_CONTENT, RECOM_NUM, REGPE_ID, MOD_DTS, USE_YN) 
		VALUES(#{writing_no}, #{depth}, #{parent}, #{comment_content}, #{recom_num}, #{regpe_id}, NOW(), 'Y')
		<selectKey keyProperty="comment_no" resultType="int" order="AFTER">
    		SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    
    <select id="getCommentDtoList" parameterType="commentDto" resultType="commentDto">
        /* com.quiz.mapper.commentMapper.getCommentDtoList */
        <![CDATA[
        SELECT  C.*
        FROM    (
                    SELECT  B.*
                    FROM	(
                                SELECT  @ROWNUM:=@ROWNUM+1 AS RNUM
                                      , A.*
                                      , WV.VOTE
                                      , (
                                            SELECT  CP.PREFER
                                            FROM	COMMENT_PREFER CP
                                            WHERE	1 = 1
                                            AND		CP.WRITING_NO = A.WRITING_NO
                                            AND		CP.COMMENT_NO = A.COMMENT_NO
                                            AND		CP.USER_ID    = #{user_id}
                                        ) AS "PREFER"
                                FROM	(
                                            SELECT  C.WRITING_NO
                                                  , C.COMMENT_NO
                                                  , C.PARENT
                                                  , C.COMMENT_CONTENT
                                                  , C.DEPTH
                                                  , C.RECOM_NUM
                                                  , C.HATE_NUM
                                                  , (
                                                        SELECT  COUNT(*)
                                                        FROM    COMMENT CC
                                                        WHERE	1 = 1
                                                        AND		CC.PARENT = C.COMMENT_NO
                                                    ) LOW_COMMENT_NUM
                                                  , C.REGPE_ID
                                                  , C.REG_DTS
                                                  , C.MOD_DTS
                                                  , U.NICKNAME
                                                  , C.USE_YN
                                            FROM    COMMENT C
                                                  , USER U
                                            WHERE   1 = 1
                                            AND     C.WRITING_NO = #{writing_no}
                                            AND     C.DEPTH      = #{depth}
                                            AND     U.USER_ID    = C.REGPE_ID 
                                            ORDER BY C.REG_DTS DESC
                                        ) A LEFT OUTER JOIN WRITING_VOTE WV ON WV.WRITING_NO = A.WRITING_NO AND WV.USER_ID = A.REGPE_ID
                                      , ( SELECT @ROWNUM := 0 ) R
                                WHERE 1 = 1
                            ) B
                    WHERE	1 = 1
                    AND     B.RNUM <= #{end}
                ) C
        WHERE   1 = 1
        AND     C.RNUM > #{start}
        ]]>
    </select>
    
    <select id="getLowCommentDtoList" parameterType="commentDto" resultType="lowCommentDto">
    	/* com.quiz.mapper.commentMapper.getLowCommentDtoList */
    	<![CDATA[
        SELECT  A.*
              , WV.VOTE
              , (
              		SELECT  CP.PREFER
              		FROM	COMMENT_PREFER CP
              		WHERE	1 = 1
              		AND		CP.WRITING_NO = A.WRITING_NO
              		AND		CP.COMMENT_NO = A.COMMENT_NO
              		AND		CP.USER_ID    = #{user_id}
                ) AS "PREFER"
        FROM   (
        			SELECT  C.WRITING_NO
              			  , C.COMMENT_NO
                          , C.PARENT
              			  , C.COMMENT_CONTENT
              			  , C.DEPTH
			  			  , C.RECOM_NUM
			  			  , C.HATE_NUM
	          			  , C.REGPE_ID
	          			  , C.REG_DTS
	          			  , C.MOD_DTS
	          			  , U.NICKNAME
	          			  , C.USE_YN
        			FROM    COMMENT C
              			  , USER U
       	 			WHERE   1 = 1
        			AND     C.WRITING_NO = #{writing_no}
        			AND     C.DEPTH      = #{depth}
        			AND     C.PARENT     = #{parent}
        			AND		U.USER_ID    = C.REGPE_ID
        			ORDER BY C.REG_DTS ASC
        	   ) A LEFT OUTER JOIN WRITING_VOTE WV ON WV.WRITING_NO = A.WRITING_NO AND WV.USER_ID = A.REGPE_ID
		]]>
    </select>
    
    <select id="getCommentDto" parameterType="paramDto" resultType="commentDto">
        /* com.quiz.mapper.commentMapper.getCommentDto */
        SELECT    C.WRITING_NO
                , C.COMMENT_NO
                , C.PARENT
                , C.COMMENT_CONTENT
                , C.DEPTH
                , C.RECOM_NUM
                , C.REGPE_ID
                , C.REG_DTS
                , C.MOD_DTS
                , U.NICKNAME
                , (
                      SELECT  WV.VOTE
                      FROM    WRITING_VOTE WV
                      WHERE   1 = 1
                      AND     WV.WRITING_NO = C.WRITING_NO
                      AND     WV.USER_ID    = C.REGPE_ID 
                ) "VOTE"
        FROM      COMMENT C
                , USER U
        WHERE   1 = 1
        AND     C.WRITING_NO = #{writing_no}
        AND     C.COMMENT_NO = #{comment_no}
        AND     C.REGPE_ID   = U.USER_ID
    </select>
    
    <select id="getCommentNum" parameterType="writingDtlDto" resultType="int">
        /* 게시글 댓글 개수 조회 쿼리 com.quiz.mapper.commentMapper.getCommentNum */
        SELECT  COUNT(*)
        FROM    COMMENT C
              , WRITING_VOTE WV
        WHERE   1 = 1
        AND     C.WRITING_NO  = #{writing_no}
        AND     WV.USER_ID    = C.REGPE_ID
        AND     WV.WRITING_NO = C.WRITING_NO
        AND     WV.VOTE       = #{vote}
    </select>
    
 	<update id="updateCommentPrefer" parameterType="commentPrefer">
 		/* com.quiz.mapper.commentMapper.updateCommentPrefer */
    	UPDATE  COMMENT
    	SET     RECOM_NUM   = RECOM_NUM + #{like}
    	      , HATE_NUM	= HATE_NUM + #{hate}
    	      , MOD_DTS     = now()   
    	WHERE   WRITING_NO  = #{writing_no}
    	AND		COMMENT_NO  = #{comment_no}
    </update>
    
    <insert id="insertCommentPrefer" parameterType="commentPrefer">
    	/* com.quiz.mapper.commentMapper.insertCommentPrefer */
    	INSERT INTO COMMENT_PREFER(WRITING_NO, COMMENT_NO, USER_ID, PREFER, REGPE_ID, REG_DTS, MOD_DTS) 
    	VALUES(#{writing_no}, #{comment_no}, #{user_id}, #{prefer}, #{user_id}, NOW(), NOW()) 
    </insert>
    
    
    <select id="getCommentPrefer" parameterType="commentPrefer" resultType="commentPrefer">
        /* com.quiz.mapper.commentMapper.getCommentPrefer */
        SELECT  CP.WRITING_NO
      		  , CP.COMMENT_NO
      		  , CP.USER_ID
      		  , CP.PREFER
      		  , C.RECOM_NUM
      		  , C.HATE_NUM
      		  , CP.REG_DTS
      		  , CP.MOD_DTS
		FROM	COMMENT_PREFER CP
		      , COMMENT C
		WHERE	1 = 1
		AND	CP.WRITING_NO = #{writing_no}
		AND	CP.COMMENT_NO = #{comment_no}
		AND	CP.USER_ID    = #{user_id}
		AND	C.COMMENT_NO  = CP.COMMENT_NO 
    </select>    
    
    <update id="updateCommentUseYn" parameterType="commentDto">
    	/* com.quiz.mapper.commentMapper.updateCommentUseYn */
    	UPDATE  COMMENT
    	SET     USE_YN      = 'N'
    	      , MOD_DTS     = now()   
    	WHERE   1			= 1
    	AND	    WRITING_NO  = #{writing_no}
    	AND		COMMENT_NO  = #{comment_no}
    </update>
    
    
    <select id="getBestCommentList" parameterType="writingDtlDto" resultType="commentDto">
        /* 베스트댓글 조회 쿼리 com.quiz.mapper.commentMapper.getBestCommentList */
        <![CDATA[
        SELECT  B.*
        FROM    (
                    SELECT  A.*
                    FROM    (
                                SELECT  @ROWNUM:=@ROWNUM+1 AS RNUM
                                    , C.WRITING_NO
                                    , C.COMMENT_NO
                                    , C.COMMENT_CONTENT
                                    , C.DEPTH
                                    , C.RECOM_NUM
                                    , C.HATE_NUM
                                    , C.USE_YN
                                    , C.REGPE_ID
                                    , C.REG_DTS
                                    , C.MOD_DTS
                                    , WV.VOTE
                                    , U.NICKNAME
                                    , (
                                          SELECT  CP.PREFER
                                          FROM    COMMENT_PREFER CP
                                          WHERE   1 = 1
                                          AND     CP.WRITING_NO = C.WRITING_NO
                                          AND     CP.COMMENT_NO = C.COMMENT_NO
                                          AND     CP.USER_ID    = #{user_id}
                                    ) AS "PREFER"
                                    , W.CHOICE1
                                    , W.CHOICE2
                                    , C.RECOM_NUM - C.HATE_NUM AS "SUM_PREFER"
                                FROM  COMMENT C
                                    , WRITING_VOTE WV
                                    , WRITING W
                                    , USER U
                                    , ( SELECT @ROWNUM := 0 ) R
                                WHERE   1 = 1
                                AND C.WRITING_NO  = #{writing_no}
                                AND C.DEPTH       = 0
                                AND C.USE_YN      = 'Y'
                                AND W.WRITING_NO  = C.WRITING_NO
                                AND WV.WRITING_NO = C.WRITING_NO
                                AND WV.VOTE       = #{vote}
                                AND WV.USER_ID    = C.REGPE_ID
                                AND U.USER_ID     = C.REGPE_ID
                                ORDER BY C.RECOM_NUM DESC, C.REG_DTS DESC
                            ) A
                    WHERE   1 = 1
                    AND     A.RNUM <= #{end}
                ) B
        WHERE 1 = 1
        AND   B.RNUM > #{start} 
        ]]>
    </select>  
    
    <select id="getChildCommentList" parameterType="commentDto" resultType="commentDto">
        /* com.quiz.mapper.commentMapper.getChildCommentList */
        SELECT  C.WRITING_NO
              , C.COMMENT_NO
              , C.PARENT
              , C.COMMENT_CONTENT
              , C.RECOM_NUM
              , C.HATE_NUM
              , C.DEPTH
              , (
                    SELECT  CP.PREFER
                    FROM    COMMENT_PREFER CP
                    WHERE   1 = 1
                    AND	CP.WRITING_NO = C.WRITING_NO
					AND	CP.USER_ID    = #{user_id}
					AND	CP.COMMENT_NO = C.COMMENT_NO
                ) PREFER
              , (
                    SELECT  WV.VOTE
                    FROM    WRITING_VOTE WV
                    WHERE   1 = 1
                    AND		WV.WRITING_NO = C.WRITING_NO
                    AND		WV.USER_ID    = C.REGPE_ID
                ) VOTE
              , U.NICKNAME
              , C.REGPE_ID
              , C.REG_DTS
              , C.MOD_DTS
		FROM	COMMENT C
		      , USER U
		WHERE	1 = 1
		AND	C.PARENT   = #{comment_no}
		AND C.USE_YN   = 'Y'
		AND	U.USER_ID  = C.REGPE_ID
		ORDER BY REG_DTS
    </select>  
    
</mapper>