<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.mapper.writingDtlMapper">
                                    
 	<select id="getTextWritingList" parameterType="pagingDto" resultType="writingDtlDto">
 		/* com.quiz.mapper.writingDtlMapper.getTextWritingList */
 		<![CDATA[
		SELECT  B.*
		FROM (
			SELECT  A.*
			FROM   (
					SELECT  @ROWNUM:=@ROWNUM+1 AS RNUM
					      , W.WRITING_NO
					      , W.FIR_WRIT_CONTENT
					      , W.SEC_WRIT_CONTENT
					      , W.FIR_VOTE_NO
					      , W.SEC_VOTE_NO
					      , W.FIR_VOTE_NO + W.SEC_VOTE_NO 'SUM_VOTE'
					      , (
						       SELECT COUNT(C.WRITING_NO)
						       FROM   COMMENT C
						       WHERE  1 = 1
						       AND    C.WRITING_NO = W.WRITING_NO
						    ) SUM_COMMENT
					FROM    WRITING W,
						( SELECT @ROWNUM := 0 ) R
					WHERE   1 = 1
					AND     W.USE_YN = 'Y'
					ORDER BY W.REG_DTS DESC
			       ) A
			WHERE A.RNUM <=#{end}
		     ) B
		 WHERE 1 = 1 
		 AND   B.RNUM>#{start}
		 ]]>
    </select>
    
    <select id="getTextWriting" parameterType="int" resultType="writingDtlDto">
    	/* com.quiz.mapper.writingDtlMapper.getTextWriting */
    	SELECT  W.WRITING_NO
    	      , W.QUES_TYPE_DIV_CD
		      , W.FIR_WRIT_CONTENT
      		  , W.SEC_WRIT_CONTENT
      		  , W.CONTENT
      		  , W.FIR_VOTE_NO
      		  , W.SEC_VOTE_NO
      		  , REGPE_ID
      		  , HITS
      		  , W.FIR_VOTE_NO + W.SEC_VOTE_NO 'SUM_VOTE'
      	   	  , (
					SELECT COUNT(C.WRITING_NO)
					FROM   COMMENT C
					WHERE  1 = 1
					AND    C.WRITING_NO = W.WRITING_NO
	            ) SUM_COMMENT
     	FROM    WRITING W
     	WHERE   1 = 1
     	AND     W.WRITING_NO = #{writing_no}
    </select>
    
    <select id="updateFirVoteNo" parameterType="int">
    	/* com.quiz.mapper.writingDtlMapper.updateFirVoteNo */
    	UPDATE WRITING
    	SET    FIR_VOTE_NO = FIR_VOTE_NO + 1
    	WHERE  WRITING_NO = #{writing_no}
    </select>
    
    <select id="updateSecVoteNo" parameterType="int">
    	/* com.quiz.mapper.writingDtlMapper.updateSecVoteNo */
    	UPDATE WRITING
    	SET    SEC_VOTE_NO = SEC_VOTE_NO + 1
    	WHERE  WRITING_NO = #{writing_no}
    </select>
    
    <select id="insertWritingDtl" parameterType="writingDtlDto">
    	/* com.quiz.mapper.writingDtlMapper.insertWritingDtl */
    	INSERT INTO WRITING(QUES_TYPE_DIV_CD, CONTENT, FIR_WRIT_CONTENT, SEC_WRIT_CONTENT, FIR_VOTE_NO, SEC_VOTE_NO, REGPE_ID, MODPE_ID, REG_DTS, MOD_DTS, HITS)
    	VALUES(#{ques_type_div_cd}, #{content}, #{fir_writ_content}, #{sec_writ_content}, 0, 0, #{regpe_id}, #{modpe_id}, now(), now(), 0)
    </select>
    
    <select id="updateHits" parameterType="int">
    	/* com.quiz.mapper.writingDtlMapper.updateHits */
    	UPDATE WRITING
    	SET    HITS = HITS + 1
    	WHERE  WRITING_NO = #{writing_no}
    </select>
    
 	<select id="getHotTextWritingList" parameterType="pagingDto" resultType="writingDtlDto">
 		/* com.quiz.mapper.writingDtlMapper.getHotTextWritingList */
 		<![CDATA[
		SELECT *
		FROM   (
				SELECT  *
				FROM    (
						SELECT  @ROWNUM:=@ROWNUM+1 AS RNUM
						      , T.*
						      ,  CASE WHEN T.FIR_VOTE_NO - T.SEC_VOTE_NO = 0 THEN (T.SUM_VOTE+3*SUM_COMMENT)
							     ELSE ROUND((T.SUM_VOTE+3*SUM_COMMENT)/(ABS(T.FIR_VOTE_NO - T.SEC_VOTE_NO)/(T.FIR_VOTE_NO+T.SEC_VOTE_NO)*100))
							     END AS POPULARITY
						      , ROUND((ABS((T.FIR_VOTE_NO-T.SEC_VOTE_NO))/(T.FIR_VOTE_NO+T.SEC_VOTE_NO)*100)) 'VOTE_DIFF'
						FROM   (
								SELECT	W.WRITING_NO
								      , W.FIR_WRIT_CONTENT
								      , W.SEC_WRIT_CONTENT
								      , W.FIR_VOTE_NO
								      , W.SEC_VOTE_NO
								      , W.FIR_VOTE_NO + W.SEC_VOTE_NO 'SUM_VOTE'
								      , (
									    SELECT COUNT(C.WRITING_NO)
									    FROM   COMMENT C
									    WHERE  1            = 1
									    AND    C.WRITING_NO = W.WRITING_NO
									) SUM_COMMENT
								FROM    WRITING W
								WHERE   1 = 1
								AND     W.USE_YN = 'Y'
						       ) T
						       , ( SELECT @ROWNUM := 0 ) R
						WHERE 1 = 1
						ORDER BY POPULARITY DESC
					) A
				WHERE 1 = 1
				AND   A.RNUM <= #{end}
		       ) B
		WHERE 1 = 1
		AND   B.RNUM > #{start}
		]]>
    </select>
    
  	<select id="getMyVote" parameterType="pagingDto" resultType="writingDtlDto">
 		/* com.quiz.mapper.writingDtlMapper.getMyVote */
 		<![CDATA[
		SELECT  *
		FROM    (
				SELECT  *
				FROM    (
						SELECT  @ROWNUM:=@ROWNUM+1 AS RNUM
						      , W.WRITING_NO
						      , W.FIR_WRIT_CONTENT
						      , W.SEC_WRIT_CONTENT
						      , W.FIR_VOTE_NO
						      , W.SEC_VOTE_NO
						      , W.FIR_VOTE_NO + W.SEC_VOTE_NO 'SUM_VOTE'
						      , (
								SELECT COUNT(C.WRITING_NO)
								FROM   COMMENT C
								WHERE  1 = 1
								AND    C.WRITING_NO = W.WRITING_NO
								) SUM_COMMENT
						FROM    WRITING W
						      , ( SELECT @ROWNUM := 0 ) R
						WHERE   1 = 1
						AND     W.USE_YN = 'Y'
						AND     W.WRITING_NO IN (
											    SELECT WV.WRITING_NO
											    FROM   WRITING_VOTE WV
												    WHERE  1 = 1
												AND    WV.WRITING_NO = W.WRITING_NO
												AND    WV.USER_ID = #{user_id}
											)
						ORDER BY W.REG_DTS DESC
					) A
				WHERE 1 = 1
				AND    A.RNUM <= #{end}
			) B
		WHERE 1 = 1
		AND   B.RNUM > #{start}
		]]>
    </select>
    
    <select id="getPopulWritingDtoList" parameterType="writingDtlPagingDto" resultType="writingDtlDto">
    	/* com.quiz.mapper.writingDtlMapper.getPopulWritingDtoList */
    	<![CDATA[
		SELECT  B.*
		FROM    (
				SELECT  A.*
				FROM   (
						SELECT  @ROWNUM:=@ROWNUM+1 AS RNUM
						      , T.*
						      ,  CASE WHEN T.FIR_VOTE_NO - T.SEC_VOTE_NO = 0 THEN (T.SUM_VOTE+3*SUM_COMMENT)
							     ELSE ROUND((T.SUM_VOTE+3*SUM_COMMENT)/(ABS(T.FIR_VOTE_NO - T.SEC_VOTE_NO)/(T.FIR_VOTE_NO+T.SEC_VOTE_NO)*100))
							     END AS POPULARITY
						      , ROUND((ABS((T.FIR_VOTE_NO-T.SEC_VOTE_NO))/(T.FIR_VOTE_NO+T.SEC_VOTE_NO)*100)) 'VOTE_DIFF'
						FROM   (
								SELECT	W.WRITING_NO
								      , W.FIR_WRIT_CONTENT
								      , W.SEC_WRIT_CONTENT
								      , W.FIR_VOTE_NO
								      , W.SEC_VOTE_NO
								      , W.FIR_VOTE_NO + W.SEC_VOTE_NO 'SUM_VOTE'
								      , (
									        SELECT COUNT(C.WRITING_NO)
									        FROM   COMMENT C
									        WHERE  1            = 1
									        AND    C.WRITING_NO = W.WRITING_NO
									    ) SUM_COMMENT
									  , W.REG_DTS
								FROM    WRITING W
								      , (
									    SELECT  TW.WRITING_NO
									    FROM    WRITING_VOTE TWV RIGHT OUTER JOIN WRITING TW 
										    ON TWV.WRITING_NO = TW.WRITING_NO AND TWV.USER_ID   != #{user_id}
									    WHERE   1 = 1
									    GROUP BY TW.WRITING_NO
									) WV
								WHERE   1 = 1
								AND     W.USE_YN = 'Y'
								AND     (W.WRITING_NO IS NULL OR W.WRITING_NO != #{writing_no})
								AND     WV.WRITING_NO = W.WRITING_NO
						       ) T
						       , ( SELECT @ROWNUM := 0 ) R
						WHERE 1 = 1
						ORDER BY  POPULARITY DESC
						        , REG_DTS DESC
				       ) A
				WHERE 1 = 1
				AND   A.RNUM <=#{end}
			) B
		WHERE 1 = 1
		AND   B.RNUM>#{start}	
    	]]>
    </select>
</mapper>