<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.mapper.writingDtlMapper">
 
 	<select id="getTextWritingList" resultType="writingDtlDto">
		SELECT  W.WRITING_NO
		      , W.FIR_WRIT_CONTENT
      		  , W.SEC_WRIT_CONTENT
      		  , W.FIR_VOTE_NO
      		  , W.SEC_VOTE_NO
      	   	  , W.FIR_VOTE_NO + W.SEC_VOTE_NO 'SUM_VOTE'
      	   	  , (
					SELECT COUNT(C.WRITING_NO)
					FROM   COMMENT C
					WHERE  1 = 1
					AND    C.WRITING_NO = W.WRITING_NO
	            ) SUM_COMMENT
		FROM    WRITING W
		WHERE   1 = 1
		ORDER BY REG_DTS DESC
    </select>
    
    <select id="getTextWriting" parameterType="int" resultType="writingDtlDto">
    	SELECT  W.WRITING_NO
    	      , W.QUES_TYPE_DIV_CD
		      , W.FIR_WRIT_CONTENT
      		  , W.SEC_WRIT_CONTENT
      		  , W.CONTENT
      		  , W.FIR_VOTE_NO
      		  , W.SEC_VOTE_NO
      		  , REGPE_ID
      		  , HITS
      		  , W.FIR_VOTE_NO + W.SEC_VOTE_NO 'SUM_VOTE'
      	   	  , (
					SELECT COUNT(C.WRITING_NO)
					FROM   COMMENT C
					WHERE  1 = 1
					AND    C.WRITING_NO = W.WRITING_NO
	            ) SUM_COMMENT
     	FROM    WRITING W
     	WHERE   1 = 1
     	AND     W.WRITING_NO = #{writing_no}
    </select>
    
    <select id="updateFirVoteNo" parameterType="int">
    	UPDATE WRITING
    	SET    FIR_VOTE_NO = FIR_VOTE_NO + 1
    	WHERE  WRITING_NO = #{writing_no}
    </select>
    
    <select id="updateSecVoteNo" parameterType="int">
    	UPDATE WRITING
    	SET    SEC_VOTE_NO = SEC_VOTE_NO + 1
    	WHERE  WRITING_NO = #{writing_no}
    </select>
    
    <select id="insertWritingDtl" parameterType="writingDtlDto">
    	INTO WRITING(QUES_TYPE_DIV_CD, CONTENT, FIR_WRIT_CONTENT, SEC_WRIT_CONTENT, FIR_VOTE_NO, SEC_VOTE_NO, REGPE_ID, MODPE_ID, REG_DTS, MOD_DTS, HITS)
    	VALUES(#{ques_type_div_cd}, #{content}, #{fir_writ_content}, #{sec_writ_content}, #{fir_vote_no}, #{sec_vote_no}, #{regpe_id}, #{modpe_id}, now(), now())
    </select>
    
</mapper>