@charset "UTF-8";
/* reset */
.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  line-height: 0;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  clip: rect(0, 0, 0, 0); }

.blind:before {
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  content: '\00a0'; }

/* focus 빠짐 방지와 영역 정확히 잡는 역할 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: none; }

q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  min-height: 100%;
  box-sizing: border-box;
  color: black; }

a {
  color: inherit;
  text-decoration: inherit; }

textarea:focus, input:focus {
  outline: none; }

button {
  padding: 0;
  outline: 0;
  background-color: inherit;
  border: 0; }

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px; }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important; }
    input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important; }

label, select, button, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px; }

.ic--stamp {
  width: 20px;
  height: 20px; }

.ic--close {
  width: 16px;
  height: 16px; }

.ic--upbtn, .ic--downbtn, .ic--replybtn {
  width: 16px;
  height: 16px; }

.modal {
  display: none; }
  .modal--fix {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 3000;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.7); }
    .modal--fix .modal_header {
      font-size: 18px;
      color: #c7c7c7;
      font-weight: bold;
      position: relative;
      background: #fff;
      height: 45px;
      line-height: 45px;
      padding: 0 15px;
      text-align: center;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px; }
    .modal--fix .modal_conts {
      background: #fff;
      height: 100%; }
    .modal--fix .modal_close {
      display: block;
      width: 36px;
      height: 36px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      position: absolute;
      right: 15px; }
    .modal--fix .modal_close-icon {
      display: inline-block;
      position: relative;
      width: 18px;
      height: 18px; }
      .modal--fix .modal_close-icon:before, .modal--fix .modal_close-icon:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        bottom: 0;
        background-color: #181818; }
      .modal--fix .modal_close-icon:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .modal--fix .modal_close-icon:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .modal_iframe {
    width: 100%;
    height: 100%; }

.list {
  counter-reset: list; }
  .list_item {
    font-size: 17px !important;
    color: #464646;
    font-weight: normal;
    line-height: 30px;
    padding-left: 16px;
    position: relative; }
    .list_item + .list_item {
      margin: 10px 0 0; }
  .list--1 .list_item:before, .list--2 .list_item:before {
    counter-increment: list;
    content: counter(list);
    color: #0070eb;
    position: absolute;
    left: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px; }
  .list--fillgray .list_item {
    border-radius: 19px;
    background-color: #f5f5f5;
    padding: 6px 15px; }
  .list--ellipsis .list_item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 17px;
    color: #5c5c5c;
    font-weight: normal; }

.btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .btn--before, .btn--after {
    background: #fff;
    font-size: 19px;
    font-weight: bold; }
    .btn--before .ic--stamp, .btn--after .ic--stamp {
      margin-left: 6px; }
  .btn--before {
    color: #0070eb; }
  .btn--after {
    color: #0070eb;
    background: #e9e9e9;
    border-radius: 24px; }
  .btn_tx {
    letter-spacing: 3px; }
  .btn_ic-stamp {
    margin-left: 6px; }
  .btn--oval {
    border-radius: 21px; }
  .btn--size_s {
    height: 40px; }
  .btn--size_m {
    height: 48px; }
  .btn--size_l {
    height: 64px; }
  .btn--1 {
    background-color: #0070eb; }
  .btn--2 {
    background-color: #ff2c5c; }

.btnarea {
  background: #f5f5f5; }
  .btnarea_before {
    position: relative; }
    .btnarea.on .btnarea_before {
      display: none; }
  .btnarea_after {
    display: none;
    position: relative;
    padding: 15px 15px 30px; }
    .btnarea.on .btnarea_after {
      display: block; }
  .btnarea_after-conts {
    margin-top: 16px; }
    .btnarea_after-conts .btn + .btn {
      margin-top: 8px; }
  .btnarea_after-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #c7c7c7;
    font-weight: bold; }
  .btnarea_tit {
    margin-right: 6px;
    letter-spacing: 3px; }
  .btnarea_after-close {
    color: #181818;
    position: absolute;
    top: 9px;
    right: 9px;
    width: 32px;
    height: 32px; }
  .btnarea--fixBottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #e9e9e9; }
    .btnarea--fixBottom.on {
      border-top: 0;
      background: #fff; }
      .btnarea--fixBottom.on:before {
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100vw;
        height: 100vh;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        content: ''; }
  .btnarea--row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .btnarea--row .btnarea_btn {
      margin: 10px 0;
      font-size: 16px;
      color: #fff;
      font-weight: bold; }
    .btnarea--row .btnarea_btn + .btnarea_btn {
      margin-left: 20px; }

/* icon */
.main-sec {
  background-color: #f0f0f0;
  padding: 88px 0;
  min-height: 100vh; }

.ic_sm {
  display: inline-block;
  width: 38px;
  height: 18px;
  vertical-align: middle; }
  .ic_sm.ic_hot {
    background: url(/resources/img/hot@2x.png) no-repeat; }
  .ic_sm.ic_new {
    background: url(/resources/img/new@2x.png) no-repeat; }

/* card */
.crd {
  position: relative;
  display: block;
  width: 340px;
  border-radius: 16px;
  box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 0.12);
  background: white;
  overflow: hidden;
  line-height: 1.3;
  margin: auto; }
  .crd + .crd {
    margin-top: 28px; }
  .crd--pros, .crd--cons {
    position: relative; }
    .crd--pros .crd_img:before, .crd--cons .crd_img:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6); }
    .crd--pros .crd_img:after, .crd--cons .crd_img:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 184px;
      height: 80px; }
  .crd--pros .crd_img:after {
    background: url(/resources/img/agree@2x.png) no-repeat;
    background-size: 100% 100%; }
  .crd--cons .crd_img:after {
    background: url(/resources/img/disagree@2x.png) no-repeat;
    background-size: 100% 100%; }

.crd_stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 7.5px;
  z-index: 1; }
  .crd_stat .ic_sm + .ic_sm {
    margin-top: 6px; }

.crd_img {
  position: relative;
  width: 340px;
  height: 340px;
  overflow: hidden; }
  .crd_img .img {
    display: block;
    background-size: cover;
    height: 100%;
    background-position: 50% 50%; }

.crd_video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-18%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  overflow: hidden; }

.crd_conts {
  padding: 10px 16px; }

.crd_infos {
  display: flex;
  justify-content: space-between;
  color: #c7c7c7;
  font-size: 13px; }
  .crd_infos .right .crd_comment + .crd_vote {
    margin-left: 8px; }

.crd_tit {
  font-size: 22px;
  color: #181818;
  font-weight: bold;
  margin: 9px 0 15px;
  word-break: keep-all;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.detail-sec {
  display: none;
  background: white;
  padding: 90px 0; }
  .detail-sec .crd {
    border-radius: 0;
    width: 100vw;
    box-shadow: none; }
  .detail-sec .crd_img {
    width: 100%;
    height: 280px; }
  .detail-sec .crd_tit {
    margin: 23px 0 0; }
  .detail-sec .title {
    display: block;
    color: #181818;
    font-size: inherit;
    margin-bottom: 13px;
    font-weight: bold;
    line-height: 16px; }
  .detail-sec .desc {
    color: #5c5c5c;
    font-size: inherit;
    line-height: 26px; }

.detail-sec_contents {
  margin-top: 30px; }

.contents {
  padding: 0 16px;
  line-height: 1.3;
  font-size: 17px; }
  .contents.ty_before {
    display: none; }
    .contents.ty_before.on {
      display: block; }
  .contents.ty_after {
    display: none; }
    .contents.ty_after.on {
      display: block; }
    .contents.ty_after .contents.ty_before {
      padding: 0; }

.contents_content {
  margin: 45px 0; }
  .contents_content:first-child {
    margin: 0; }

.contents_xfile {
  margin-left: -16px;
  margin-right: -16px; }

.contents_expand-detail {
  margin-top: 45px;
  margin-left: -16px; }

.content {
  word-break: break-all; }
  .content p {
    font-size: 17px !important;
    color: #464646;
    font-weight: normal;
    line-height: 30px; }
  .content p + p {
    margin-top: -5px; }

.content_header {
  font-size: 17px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 10px; }

.content_desc {
  font-size: 17px !important;
  color: #464646;
  font-weight: normal;
  line-height: 30px; }

.content_title {
  font-size: 19px;
  color: #181818;
  font-weight: bold; }

.xfile {
  padding: 45px 17px;
  border-top: 1px solid #f0f0f0; }

.xfile_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.xfile_tit {
  font-size: 22px;
  color: #0070eb;
  font-weight: bold; }

.xfile_subtit {
  font-size: 12px;
  color: #c7c7c7;
  font-weight: medium;
  margin-bottom: 7px; }

.xfile_list {
  margin-top: 30px; }
  .xfile_list .on {
    position: relative; }
    .xfile_list .on:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 8px;
      height: 8px;
      margin-left: -8px;
      margin-right: 3px;
      background-color: #0070eb;
      border-radius: 50%; }

.howthink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
  background-color: #e9e9e9; }

.howthink_figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.howthink_img {
  display: block;
  background: url(/resources/img/question@2x.png) no-repeat;
  background-size: 100%;
  width: 76px;
  height: 56px;
  margin: 45px 0 0; }

.howthink_figcap {
  text-align: center;
  margin: 20px 0 40px; }

.howthink_desc {
  font-size: 20px;
  color: #c7c7c7;
  font-weight: bold; }
  .howthink_desc + .howthink_desc {
    margin-top: 10px; }

.vote-result--pros .vote-result_tit {
  color: #0070eb; }

.vote-result--cons .vote-result_tit {
  color: #ff2c5c; }

.vote-result--cons .vote-result_progfill {
  background: #ff2c5c; }

.vote-result_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.vote-result_tit {
  font-size: 16px;
  color: #181818;
  font-weight: bold; }

.vote-result_subtit {
  font-size: 16px;
  color: #c7c7c7;
  font-weight: normal;
  margin-left: 8px; }

.vote-result_progbar {
  margin: 3px -6px 0;
  border-radius: 6px;
  background: #e9e9e9;
  height: 26px;
  position: relative; }

.vote-result_progfill {
  display: block;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
  width: 0;
  background: #0070eb;
  -webkit-transition: width 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.expand-detail {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 15px 24px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  color: #5c5c5c;
  font-weight: bold; }

.expand-detail_arrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #5c5c5c;
  border-right: 2px solid #5c5c5c;
  -webkit-transform: rotate(45deg) translateY(50%);
          transform: rotate(45deg) translateY(50%); }

.comment {
  padding: 16px 0;
  position: relative; }
  .comment + .comment:after {
    display: block;
    margin-left: -16px;
    width: 100vw;
    height: 1px;
    background: #f0f0f0;
    content: '';
    position: absolute;
    top: 0; }
  .comment--pros .comment_badge {
    background-color: #0070eb; }
  .comment--pros .comment_refcnt {
    color: #0070eb; }
  .comment--pros .comment_option:first-child {
    color: #0070eb; }
  .comment--cons .comment_subheader {
    margin-top: 4px; }
  .comment--cons .comment_badge {
    background-color: #ff2c5c; }
  .comment--cons .comment_refcnt {
    color: #ff2c5c; }
  .comment--cons .comment_option:last-child {
    color: #ff2c5c; }
  .comment--sub {
    margin: 16px 0 0 16px;
    background: #f5f5f5;
    padding: 12px 16px 16px;
    border-radius: 6px;
    position: relative; }
    .comment--sub + .comment--sub:after {
      display: none; }
    .comment--sub.comment--pros .comment_refcnt {
      color: #0070eb; }
    .comment--sub.comment--pros .comment_option:first-child {
      color: #0070eb; }
    .comment--sub.comment--pros .comment_option:last-child {
      color: #d8d8d8; }
    .comment--sub.comment--cons .comment_refcnt {
      color: #ff2c5c; }
    .comment--sub.comment--cons .comment_option:first-child {
      color: #d8d8d8; }
    .comment--sub.comment--cons .comment_option:last-child {
      color: #ff2c5c; }
    .comment--sub:before {
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 8px;
      left: -16px;
      content: '';
      border-left: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      border-radius: 2px; }

.comment_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.comment_header-optbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -6px; }

.comment_hdopts {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  color: #d8d8d8; }
  .comment_hdopts + .comment_hdopts {
    margin-left: 18px; }
    .comment_hdopts + .comment_hdopts:before {
      display: block;
      background: #d8d8d8;
      width: 1px;
      height: 11px;
      position: absolute;
      top: 50%;
      left: -11px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      content: ""; }
  .comment_hdopts input:checked + label {
    color: #5c5c5c; }
  .comment_hdopts label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.comment_header-up svg, .comment_header-down svg, .comment_header-reply svg {
  display: inline-block;
  width: 50%;
  height: 50%; }

.comment_subheader {
  margin-top: 10px; }

.comment_refcnt {
  margin-left: 5px; }
  .comment_refcnt:before {
    content: "+"; }

.comment_option {
  font-weight: bold;
  font-size: 12px;
  color: #d8d8d8;
  display: inline-block;
  position: relative; }
  .comment_option + .comment_option {
    margin-left: 12px; }
    .comment_option + .comment_option:before {
      display: inline-block;
      height: 11px;
      width: 1px;
      position: absolute;
      left: -8px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background: #d8d8d8;
      content: ''; }

.comment_contents {
  margin-top: 8px; }

.comment_maintx {
  font-size: 17px;
  color: #5c5c5c;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: -0.3px; }

.comment_time {
  margin-top: 8px;
  color: #d8d8d8;
  font-size: 12px; }

.comment_headerwrap {
  font-size: 12px;
  font-weight: medium; }

.comment_nick {
  color: #181818; }

.comment_badge {
  display: block;
  width: 48px;
  height: 19px;
  color: #fff;
  border-radius: 18px;
  border-radius: 18px;
  font-size: 12px;
  text-align: center;
  line-height: 20px; }

.comment_footer {
  margin-top: 5px; }

.comment-bestlist:before, .comment-bestlist:after {
  display: block;
  width: 100vw;
  margin-left: -16px;
  height: 12px;
  background: #f0f0f0;
  content: ""; }

.comment-bestlist_item + .comment-bestlist_item:before {
  display: block;
  margin-left: -24px;
  width: 100vw;
  height: 1px;
  background: #f0f0f0;
  content: ''; }

.reply {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 64px;
  padding: 8px 14px;
  background: #fff;
  border-top: 1px solid #f0f0f0;
  color: #5c5c5c; }
  .reply.on {
    color: #0070eb; }

.reply_nick {
  display: inline-block;
  vertical-align: middle; }

.reply_nickarea {
  font-size: 12px;
  color: #5c5c5c;
  font-weight: medium;
  display: none;
  padding: 0 16px;
  background-color: #eee;
  border-radius: 18px;
  flex-basis: 1;
  position: relative;
  margin: 0 0 8px 16px;
  height: 36px; }
  .reply_nickarea.on {
    display: inline-block; }
  .reply_nickarea:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    left: -16px;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 2px;
    content: ''; }
  .reply_nickarea:after {
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
    content: ''; }

.reply_close {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: -2px 0 0 5px; }
  .reply_close svg {
    width: 50%;
    height: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%); }

.reply_label {
  display: block;
  height: 48px;
  background-color: #eee;
  border-radius: 16px;
  padding: 9px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

.reply_inp {
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 2;
  color: inherit;
  flex: 1 1; }

.reply_submit {
  color: inherit;
  width: 50px;
  height: 40px;
  margin-right: -15px; }

