<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
    
        <typeAliases>
            <typeAlias type="com.quiz.web.dto.WritingDtlDto" alias="writingDtlDto"/>
            <typeAlias type="com.quiz.web.dto.WritingVoteDto" alias="writingVoteDto"/>
            <typeAlias type="com.quiz.web.dto.UserDto" alias="userDto"/>
            <typeAlias type="com.quiz.web.dto.CommentDto" alias="commentDto"/>
            <typeAlias type="com.quiz.web.dto.LoginCommand" alias="loginCommand"/>
            <typeAlias type="com.quiz.web.dto.ParamDto" alias="paramDto"/>
            <typeAlias type="com.quiz.web.dto.LowCommentDto" alias="lowCommentDto"/>
            <typeAlias type="common.AuthInfo" alias="authInfo"/>
            <typeAlias type="common.paging.dto.PagingDto" alias="pagingDto"/>
            <typeAlias type="common.paging.dto.WritingDtlPagingDto" alias="writingDtlPagingDto"/>
        </typeAliases>
        
    </configuration>